<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../static/css/sentAnalysis_style.css"/>
		<title>Sentiment Analysis</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>	
		<script charset="utf-8" type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script> 
	</head>

	<body>
		<div id= "mainContainer">
			<!-- header and search boxes -->
			<div id="header">
				<h1>Daily Sentiment</h1>
				<!-- button to input date -->
				<input id="queryWord" type="text" placeholder="Obama, etc."></input>
				<input id="queryDate" type="text" placeholder="YYYYMMDD"></input>
				<button id="update">SEARCH</button>
			</div>
		
		<!-- daily sentiment and headlines -->
		<div id="sentiment"></div>
		<div id="latestUpdates">
		<!-- <div id="headlinesLeft"></div> -->
		</div>




		</div>
	</body>

	
		
		<script type="text/javascript" src="../static/js/object.js"></script>
</html>